.main-content{
    text-align: center;
  }
  .logo {
    display: flex;
    justify-content: center;
    max-width: 30px; 
    margin-top: 10px ; 
    padding-right:60px ;
    margin-left: 90px;
  
  }
  .logo img {
    margin-right: 10px; 
  }
  
  .settings1-img{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  
  }
  
  .add_alert1-img{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
  .account_circle1-img{
    width: 25px;
    height: 25px;
    flex-shrink: 0;
  }
  
  
  .super_admin {
    
    margin-top: 20px;
    margin-right: 10px; 
    
  }
  
  .super_admin img {
    
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin-left: 60px;
  
  }
  
  .admin-name {
    color: var(--Dark-Gray, #2C2C2C);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin-top:5px;
  }
  .database {
   
    margin-top: -40px; 
    padding-top: 10px; 
  }
  
  .admin-name1{
    padding: 50px 0px 0px 15px;
    color:#84828A;
    font-size: 16px;
    font-family: Roboto;
  
  }
  
  .admin-role {
    color: var(--Gray, #84828A);
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    line-height: 0.5;
  }
  
  .section1{
    
  border-radius: 10px;
  }
  
  .customer {
  font-size: 16px;
  font-family: 'Roboto';
  color: var(--Gray, #84828A);
  }
  .icon{
  color:#6425FE;
  margin-right: 8px;
  }
  
  
  .add-customer-button {
  display: flex;
  align-items: center; 
  color:#84828A;
  font-size: 16px;
  font-family: Roboto;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 25px;
  margin-top: 20px;
  width:75%;
  line-height: 2;
  
  &:hover {
    background-color:#EFE9FF;
    color: #6425FE;
    
  }

  }
  
  .button-text {
  margin-left: 8px;
  }
  
  .button-content {
  display: flex;
  align-items: center; 
  }
  
  .add-customer-button:hover {
  background-color:#F7F6F9;
  }
  
  .button-container {
  
  gap: 20px;
  }
  
  
  .right-navbar-container {
   
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
    padding-bottom: 20px; 
  }
  
  .logout-button {
    background-color: #6425FE;
    color: #fff;
    font-family: Roboto;
    padding: 10px 8px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;
    margin-left: 50%;
    width: 100px;
    height: 40px;
  }
  
  .logout-button1{
    position:sticky;
    padding-top: 90px; 
  }

  .logout-icon {
    margin-right: 8px;
    
  }
  
  .logout-button:hover {
    background-color: #2583fe;
  }
  .customGreenProgress {
    color: #fea725;
  }
  