.Social Media{
    padding-top: 60px;
}
.modal-content {
    max-height: 80vh; /* Set a maximum height for the modal, adjust as needed */
    overflow-y: auto; /* Enable vertical scrolling if the content exceeds the height */
  }