.overall-gird{

  background-color: #F7F6F9;
  max-height: 90vh; 
  overflow-y: auto;

}

.Customer-profile-title{
    color: #3B3B3B;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 10px;
padding-left: 10px;
  }


.cus-image{
    padding-right: 30px;
    padding-left: 50px;
}

.Cus-name-content{
    padding-top: 5px;
}
/* .Cus-name-content1{
  padding-top: 15px;
  padding-left: 17px;
} */
/* .txt-field{
  height: 30%;
  width:50%;
  padding-bottom:10px;
} */

.Cus-profile-input,
.CusName,
.Cus-name-content2{
    color: var(--Gray, #84828A);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 20px;
    margin-right: 20px; 
    padding-top: 10px;
    text-align: right;
    display: inline-block;
}

.Bus-field{
    color: #3B3B3B;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-top: 10px;
padding-left: 10px;
}

.Business-Name,
.Business-Place,
.Business-District,
.Business-Language {
  color: var(--Gray, #84828A);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
  margin-right: 20px; 
  padding-top: 10px;
  text-align: right;
  display: inline-block;
  }

  .Socialmedia-field{
    color: #3B3B3B;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 10px;
    padding-left: 10px;
  }

  .Media-1,
  .Media-2,
  .Media-3,
  .Media-4,
  .Media-5{
    color: var(--Gray, #84828A);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
  margin-right: 20px; 
  padding-top: 10px;
  text-align: right;
  display: inline-block;
  }

  .Bus-EmailId{
    padding-top: 10px;
    padding-left: 27px;
  }
.UploadCus{
  margin-top: 30px;
  padding-left: 40px;
}
.WebsiteCus{
  padding-left: 40px;
  margin-top: 30px;
}

.Bus-other{
  padding-top: 10px;
  padding-left: 28px;
}
.submit-btn{
 padding-left: 600px;
 padding-top: 30px;
 margin-bottom: 10px;
 position: relative;
}
.Contact_Information{
  padding-top: 30px;
}

.BusContact-field{
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
  }

  .Bus-Mobileno,
  .Bus-EmailId{
    color: var(--Gray, #84828A);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
  margin-right: 20px; 
  padding-top: 10px;
  text-align: right;
  display: inline-block;
  }

  .Bus-PhoneNo,
  .Bus-other{
    color: var(--Gray, #84828A);
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 20px;
  margin-right: 20px; 
  padding-top: 10px;
  text-align: right;
  display: inline-block;
  }

  .Upload-field-1{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    
  }
  .Website-field-Cus{
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    margin: 10px;
  }