.customerdb-container{
    background-color: #F7F6F9;
  padding: 15px 15px 0px 29px;
 
}
 
.customerdb-title{
    display: flex;
    padding-top: 10px;
    padding-left: 10px;
}
.total-item1{
    display: flex;
    padding-left: 15px;
    padding-top: 7px;
  
}
.customerdb-container-group-img{
    height:26px;
    width: 26px;
}

.customerdb-container-contact-img,
.customerdb-container-assignment-img,
.customerdb-container-badge-img,
.customerdb-container-personadd-img {
    height: 24px;
    width: 24px;
}

.Customerdb-heading {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 16px;
    color: #2C2C2C;
    font-family: "customerdb-container";
}

@font-face {
    font-family: "customerdb-container";
    src: url(../Component/Font/Roboto-Bold.ttf);
}

.Customerdb-totalCustomer,
.Customerdb-ourCustomer,
.Customerdb-otherCustomer,
.Customerdb-newlyadded {
    padding-left: 10px;
    padding-top: 6px;
    font-size: 15px;
}
.customerdb-details{
    padding: 10px 15px 5px 15px;
    background-color: #Ffffff;
  
}

@media only screen and (max-width: 600px) {
    .customerdb-details {
     padding-left: 50px;
    }
}
.Total-content {
    font-size: 16px;
    font-family: "total";
}
@font-face {
    font-family: "total";
    src: url(../Component/Font/Roboto-Bold.ttf);
}

.allcustomer-header{
    display: flex;
    padding-top: 10px;
}

.All-Customers {
    font-size: 16px;
    padding-top: 10px;
    padding-left: 20px;
    color: #2C2C2C;
    font-family: "All-Customers";
}


@font-face {
    font-family: "All-Customers";
    src: url(../Component/Font/Roboto-Bold.ttf);
}

.Search-content {
    padding-top: 5px;
    padding-left: 270px;

}
@media only screen and (max-width: 1100px) {
    .Search-content  {
     padding-left: 150px;
    }
}
@media only screen and (max-width: 600px) {
    .Search-content  {
    padding-left: 30px;
     
    }
}

.Search-bar {
     padding-left: 20px;
     height: 40px;
    background-color: #F7F6F9;
}


.pagination-content {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}
.Form-Control{
    padding: 0;
}
@media only screen and (max-width: 600px) {
    .Form-Control {
    display: none;

    }
}

