.Employeedb-fullcontainer{
    height: 150vh;
    background-color: #F7F6F9;
    padding-top: 20px;
}
@media only screen and (max-width: 600px) {
    .Employeedb-fullcontainer {
        
        /* Adjust the width for desktop */
        height: 140vh;

    }
}
.Employeedb-heading {
    padding-left: 15px;
    padding-top: 6px;
    font-size: 16px;
    color: #2C2C2C;
    font-family: "Employeedb-container";
}

@font-face {
    font-family: "Employeedb-container";
    src: url(/src/Roboto/Roboto-Bold.ttf);
}


.Employeedb-totalCustomer,
.Employeedb-ourCustomer,
.Employeedb-otherCustomer,
.Employeedb-newlyadded {
    padding-left: 10px;
    padding-top: 5px;
    font-size: 15px;
}

.customerdb-container-business-img,
.Employeedb-container-contact-img,
.Employeedb-container-assignment-img,
.Employeedb-container-badge-img,
.Employeedb-container-personadd-img {
    height: 26px;
    width: 26px;
}



.Employeedb-topsection {
    height: 30vh;
    background-color: #ffffff;
}

@media only screen and (max-width: 600px) {
    .Employeedb-topsection {
        width: 100%;
        /* Adjust the width for desktop */
        height: 55vh;

    }
}
.Emptotal-item1{
    display: flex;
    padding-left: 10px;
}

.Total-content {

    padding-right: 90px;
    font-size: 15px;
    font-family: "total";

}

@font-face {
    font-family: "total";
    src: url(/src/Roboto/Roboto-Bold.ttf);
}
.Emptable-fullcontainer{
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 10px;
}
@media only screen and (max-width: 600px) {
    .Emptable-fullcontainer {
        width: 100%;
        /* Adjust the width for desktop */
        height: 90vh;

    }
}


.EmpDatagrid-table {
    padding-top: 10px;
    background-color: #ffffff;
}


.All-Employees {
    font-size: 17px;
    padding-top: 10px;
    padding-left: 20px;
    color: #2C2C2C;
    font-family: "All-Customers";
}

@font-face {
    font-family: "All-Customers";
    src: url(/src/Roboto/Roboto-Bold.ttf);
}


.EmpSearch-content{
    padding-top: 10px;
    padding-left: 350px;
}

.EmpSearch-bar {

    background-color: #F7F6F9;
}


.pagination-content {
    display: flex;
    justify-content: center;
}