

.header-img{
    display: flex;
  align-items: center;
}
.img{
    width: 20px;
    height: 20px;
}

    .name-container {
        margin-left: 10px;
      }
.profile{
padding-top: 10px;
    color: var(--Dark-Gray, #2C2C2C);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.pname{
    color: #5E5E5E;
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
display: flex;
padding-left: 390px;
}
.Edit-btn {
    padding-left:140px;
}

.btn1{
    width: 80px;
    height: 33px;
}

/* Header End */

/* Body start */
.body{
    padding-top: 30px;
    display: flex;
}

.super_admi1 img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    flex-shrink: 0;
}
.ename{
    color: #5E5E5E;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
padding-left: 20px;
padding-top: 40px;
}
.bname{
    color: var(--Gray, #84828A);
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 20px;
}
.dname{
    color: var(--Gray, #84828A);
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
padding-left: 20px;
}
.btype{
    padding-left: 250px;
}
.divider{
    padding-top: 20px;
}



